@media only screen and (min-width: 1024px) {
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Italic.ttf");
    font-style: italic;
  }
  input,
  textarea,
  select:focus {
    outline: none;
  }
  .App {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins";
  }
  .App .sidebar {
    left: 0;
    position: fixed;
    width: 20%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 999;
  }
  .App .sidebar .logo {
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    z-index: 2;
  }
  .App .sidebar .logo img {
    height: 60px;
  }
  .App .sidebar .menu {
    width: 80%;
  }
  .App .sidebar .menu ul {
    width: 100%;
  }
  .App .sidebar .menu ul li {
    -webkit-transition: 300ms;
    transition: 300ms;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
  }
  .App .sidebar .menu ul li A {
    width: 100%;
    height: 100%;
    font-family: "Poppins";
    color: #000D1E;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .App .sidebar .menu ul li A .icon {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ff7a57;
    font-size: 20px;
  }
  .App .sidebar .menu ul li:hover {
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: #ff7a57;
  }
  .App .sidebar .menu ul li:hover A {
    color: white;
  }
  .App .sidebar .menu ul li:hover A .icon {
    color: white;
  }
  .App .sidebar .menu ul li.active {
    background-color: #ff7a57;
  }
  .App .sidebar .menu ul li.active A {
    color: white;
  }
  .App .sidebar .menu ul li.active A .icon {
    color: white;
  }
  .App .sidebar .menuHidden {
    height: 100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .App .sidebar .menuHidden .circle {
    width: 60px;
    height: 60px;
    background-color: #ECF0F3;
    color: #393939;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 100%;
  }
  .App .body {
    width: 80%;
    background-color: white;
  }
  .App .body .navbar {
    height: 80px;
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    z-index: 998;
    -webkit-box-shadow: 0px 12px 40px rgba(57, 57, 57, 0.06);
            box-shadow: 0px 12px 40px rgba(57, 57, 57, 0.06);
  }
  .App .body .navbar .menu {
    color: transparent;
  }
  .App .body .navbar h1 {
    position: absolute;
    left: 320px;
    font-weight: 500;
    font-size: 24px;
    color: #000D1E;
  }
  .App .body .navbar h1 span {
    color: #ff7a57;
  }
  .App .body .navbar .icon {
    width: 100px;
    height: 100%;
  }
  .App .body .navbar .icon .icon-bell {
    width: 30px;
    height: 100%;
    font-size: 20px;
    color: #000D1E;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .App .body .navbar .icon .icon-bell .circle {
    background-color: #ff7a57;
    height: 18px;
    width: 18px;
    border-radius: 15px;
    font-size: 12px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    top: 20px;
    right: 0px;
  }
  .App .body .navbar .notifikasi {
    z-index: 998;
    -webkit-transition: 300ms;
    transition: 300ms;
    width: 250px;
    height: 0px;
    overflow: hidden;
    position: absolute;
    top: 70px;
    right: 55px;
  }
  .App .body .navbar .notifikasi .triangle {
    height: 20px;
    width: 100%;
    background-color: white;
    -webkit-clip-path: polygon(220px 0, 235px 20px, 205px 20px);
            clip-path: polygon(220px 0, 235px 20px, 205px 20px);
  }
  .App .body .navbar .notifikasi .body-box {
    width: 250px;
    background-color: white;
    border-radius: 15px;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    margin-bottom: 0px;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-head h4 {
    font-weight: 500;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-head hr {
    width: 50px;
    height: 1px;
    border: none;
    background-color: #ff7a57;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: 120px;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .item {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .item .item-left {
    width: 20%;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .item .item-left .box {
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    background-color: #ff7a57;
    color: white;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .item .item-right {
    width: 80%;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .item .item-right h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 24px;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .item .item-right h4 {
    font-weight: 500;
    color: #ff7a57;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .notifikasi-close {
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .notifikasi-close hr {
    width: 90%;
    height: 1px;
    border: none;
    background-color: #ECF0F3;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .notifikasi-close .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .notifikasi-close .text h4 {
    font-size: 14px;
    margin-left: 5px;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .notifikasi-close .text path {
    color: #ff7a57;
  }
  .App .body .navbar .notifikasi.active {
    -webkit-transition: 300ms;
    transition: 300ms;
    height: 220px;
  }
  .App .body .body-content {
    margin-top: 80px;
    background-color: #ECF0F3;
    border-radius: 30px 0px 0px 0px;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .App.hidden {
    display: none;
  }
  .login-page {
    font-family: "Poppins";
  }
  .login-page .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    min-height: 100vh;
  }
  .login-page .login .login-left {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login-page .login .login-left .content {
    width: 75%;
  }
  .login-page .login .login-left .content h3 {
    margin-top: 40px;
    color: #ff7a57;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .login-page .login .login-left .content h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 5px;
  }
  .login-page .login .login-left .content p {
    line-height: 24px;
    font-size: 14px;
    color: #C4C4C4;
    margin-bottom: 30px;
  }
  .login-page .login .login-left .content .btn-google {
    width: 100%;
    height: 50px;
    color: #393939;
    background-color: white;
    border: 1px solid #ECF0F3;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .login-page .login .login-left .content .btn-google img {
    width: 30px;
    margin-right: 10px;
  }
  .login-page .login .login-left .content .btn-google:hover {
    -webkit-transition: 300ms;
    transition: 300ms;
    border: 1px solid #ff7a57;
  }
  .login-page .login .login-left .content .choice-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .login-page .login .login-left .content .choice-login hr {
    width: 30%;
    height: 1px;
    background-color: #ECF0F3;
    border: none;
  }
  .login-page .login .login-left .content .choice-login h6 {
    font-size: 14px;
    color: #C4C4C4;
    font-weight: 400;
  }
  .login-page .login .login-left .content form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
    position: relative;
  }
  .login-page .login .login-left .content form .form-group label {
    font-size: 14px;
    font-weight: 500;
    color: #393939;
    margin-bottom: 15px;
  }
  .login-page .login .login-left .content form .form-group i {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: rgba(196, 196, 196, 0.5);
  }
  .login-page .login .login-left .content form .form-group input,
  .login-page .login .login-left .content form .form-group select {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ECF0F3;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #393939;
    font-weight: 500;
    font-size: 14px;
  }
  .login-page .login .login-left .content form .form-group input:focus {
    border: 1px solid #ff7a57;
  }
  .login-page .login .login-left .content form .btn-login {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #ff7a57;
    border: 1px solid #ff7a57;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .login-page .login .login-left .content form .btn-login:hover {
    -webkit-transition: 300ms;
    transition: 300ms;
    -webkit-box-shadow: 0px 15px 45px rgba(255, 122, 87, 0.32);
            box-shadow: 0px 15px 45px rgba(255, 122, 87, 0.32);
  }
  .login-page .login .login-left .content form h6 {
    font-size: 14px;
    color: #C4C4C4;
    line-height: 24px;
    margin-bottom: 50px;
  }
  .login-page .login .login-left .content form h6 a {
    color: #ff7a57;
  }
  .login-page .login .login-right {
    right: 0;
    width: 50%;
    min-height: 100vh;
    background-color: #ff7a57;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login-page .login .login-right img {
    width: 75%;
  }
  .login-page .login .login-right h2 {
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .login-page .login .login-right p {
    font-size: 14px;
    width: 80%;
    text-align: center;
    line-height: 24px;
    color: white;
  }
  .dashboard {
    width: 95%;
    height: 100%;
  }
  .dashboard h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .dashboard .modal.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dashboard .modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgba(57, 57, 57, 0.3);
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dashboard .modal .form {
    background-color: white;
    width: 600px;
    min-height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 30px;
    overflow: auto;
    padding-bottom: 60px;
  }
  .dashboard .modal .form input,
  .dashboard .modal .form textarea,
  .dashboard .modal .form select {
    outline: none;
  }
  .dashboard .modal .form h2 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 50px;
    text-align: center;
    line-height: 36px;
    margin-bottom: 12px;
  }
  .dashboard .modal .form p {
    width: 450px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 30px;
    font-size: 14px;
  }
  .dashboard .modal .form p span {
    color: #ff7a57;
  }
  .dashboard .modal .form .form-biodata {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dashboard .modal .form .form-biodata .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .dashboard .modal .form .form-biodata .row .col-6 {
    width: 49%;
  }
  .dashboard .modal .form .form-biodata .row .col-12 {
    width: 100%;
  }
  .dashboard .modal .form .form-biodata .row .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dashboard .modal .form .form-biodata .row .form-group .box-profile .imgProfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .dashboard .modal .form .form-biodata .row .form-group .box-profile .lblImgProfile {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    background-color: rgba(57, 57, 57, 0.01);
  }
  .dashboard .modal .form .form-biodata .row .form-group label {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .dashboard .modal .form .form-biodata .row .form-group input {
    height: 40px;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    padding-left: 20px;
    padding-right: 20px;
  }
  .dashboard .modal .form .form-biodata .row .form-group select {
    height: 44px;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .dashboard .modal .form .form-biodata .row .form-group textarea {
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-family: "Poppins";
  }
  .dashboard .modal .form .form-biodata .row .form-group input:focus {
    border: 1px solid #ff7a57;
  }
  .dashboard .modal .form .form-biodata .row .form-group select:focus {
    border: 1px solid #ff7a57;
  }
  .dashboard .modal .form .form-biodata .row .form-group textarea:focus {
    border: 1px solid #ff7a57;
  }
  .dashboard .modal .form .form-biodata .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dashboard .modal .form .form-biodata button {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 45px;
    width: 200px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-weight: 500;
  }
  .dashboard .modal .form .form-biodata .btn-submit {
    border: 2px solid #ff7a57;
    background-color: #ff7a57;
  }
  .dashboard .modal .form .form-biodata .btn-cancel {
    border: 2px solid #ECF0F3;
    background-color: #ECF0F3;
    color: #393939;
  }
  .dashboard .filter {
    margin-bottom: 30px;
  }
  .dashboard .action {
    width: 95%;
    margin: 0px auto;
  }
  .dashboard .action form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dashboard .action form .row {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .dashboard .action form .row .col-6 {
    width: 49%;
  }
  .dashboard .action form .row .col-12 {
    width: 100%;
  }
  .dashboard .action form .row .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dashboard .action form .row .form-group label {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .dashboard .action form .row .form-group input {
    height: 40px;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    padding-left: 20px;
    padding-right: 20px;
  }
  .dashboard .action form .row .form-group select {
    height: 44px;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .dashboard .action form .row .form-group textarea {
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    font-family: "Poppins";
    padding: 10px 20px 10px 20px;
  }
  .dashboard .action form .row .form-group input:focus {
    border: 1px solid #ff7a57;
  }
  .dashboard .action form .row .form-group select:focus {
    border: 1px solid #ff7a57;
  }
  .dashboard .action form .row .form-group textarea:focus {
    border: 1px solid #ff7a57;
  }
  .dashboard .action form button {
    height: 45px;
    width: 120px;
    border-radius: 30px;
    border: 2px solid #ff7a57;
    background-color: #ff7a57;
    color: white;
  }
  .dashboard .bg-model {
    width: 100%;
    min-height: 100vh;
    z-index: 999;
    left: 0;
    top: 0;
  }
  .dashboard .bg-model .box-model {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dashboard .bg-model .box-model .form-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 80px;
  }
  .dashboard .bg-model .box-model .form-section .content {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 500px;
  }
  .dashboard .bg-model .box-model .form-section .content .form-box {
    position: relative;
    z-index: 1;
    width: 90%;
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    border-radius: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .dashboard .bg-model .box-model .form-section .content .form-box h2 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 0px;
    text-align: center;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .dashboard .bg-model .box-model .form-section .content .form-box p {
    width: 650px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .dashboard .bg-model .box-model .form-section .content .form-box .form-biodata {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dashboard .bg-model .box-model .form-section .content .form-box .form-biodata .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .dashboard .bg-model .box-model .form-section .content .form-box .form-biodata .row .col-6 {
    width: 49%;
  }
  .dashboard .bg-model .box-model .form-section .content .form-box .form-biodata .row .col-12 {
    width: 100%;
  }
  .dashboard .bg-model .box-model .form-section .content .form-box .form-biodata .row .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dashboard .bg-model .box-model .form-section .content .form-box .form-biodata .row .form-group .box-profile .imgProfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .dashboard .bg-model .box-model .form-section .content .form-box .form-biodata .row .form-group .box-profile .lblImgProfile {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    background-color: rgba(57, 57, 57, 0.01);
  }
  .dashboard .bg-model .box-model .form-section .content .form-box .form-biodata .row .form-group label {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .dashboard .bg-model .box-model .form-section .content .form-box .form-biodata .row .form-group input {
    height: 40px;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    padding-left: 20px;
    padding-right: 20px;
  }
  .dashboard .bg-model .box-model .form-section .content .form-box .form-biodata .row .form-group select {
    height: 44px;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .dashboard .bg-model .box-model .form-section .content .form-box .form-biodata .row .form-group textarea {
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-family: "Poppins";
  }
  .dashboard .bg-model .box-model .form-section .content .form-box .form-biodata .row .form-group input:focus {
    border: 1px solid #ff7a57;
  }
  .dashboard .bg-model .box-model .form-section .content .form-box .form-biodata .row .form-group select:focus {
    border: 1px solid #ff7a57;
  }
  .dashboard .bg-model .box-model .form-section .content .form-box .form-biodata .row .form-group textarea:focus {
    border: 1px solid #ff7a57;
  }
  .dashboard .bg-model .box-model .form-section .content .form-box .form-biodata button {
    margin-top: 20px;
    height: 45px;
    width: 200px;
    border-radius: 30px;
    border: 2px solid #ff7a57;
    background-color: #ff7a57;
    color: white;
  }
  .dashboard .card-assignment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dashboard .card-assignment-detail {
    width: 0px;
    overflow: hidden;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  .dashboard .card-assignment-detail .card {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 20px;
  }
  .dashboard .card-assignment-detail .card .card-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }
  .dashboard .card-assignment-detail .card .card-head .img {
    width: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dashboard .card-assignment-detail .card .card-head .img .circle {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dashboard .card-assignment-detail .card .card-head .img .circle img {
    height: 40px;
  }
  .dashboard .card-assignment-detail .card .card-head .title {
    width: 80%;
  }
  .dashboard .card-assignment-detail .card .card-head .title h2 {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 32px;
    font-size: 24px;
  }
  .dashboard .card-assignment-detail .card .card-head .title .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dashboard .card-assignment-detail .card .card-head .title .information h5 {
    font-size: 14px;
    margin-right: 20px;
  }
  .dashboard .card-assignment-detail .card .card-head .title .information h6 {
    font-size: 12px;
    color: #393939;
    opacity: 0.9;
    margin-right: 20px;
  }
  .dashboard .card-assignment-detail .card .card-head .title .information span {
    padding: 3px 5px 3px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ff7a57;
    border-radius: 5px;
    font-size: 12px;
    color: white;
  }
  .dashboard .card-assignment-detail .card .card-head .skor {
    width: 10%;
  }
  .dashboard .card-assignment-detail .card .card-body {
    margin-bottom: 30px;
  }
  .dashboard .card-assignment-detail .card .card-body p {
    line-height: 28px;
    font-size: 16px;
  }
  .dashboard .card-assignment-detail .card .card-action form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .dashboard .card-assignment-detail .card .card-action form .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .dashboard .card-assignment-detail .card .card-action form .row .col-6 {
    width: 49%;
  }
  .dashboard .card-assignment-detail .card .card-action form .row .col-12 {
    width: 100%;
  }
  .dashboard .card-assignment-detail .card .card-action form .row .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dashboard .card-assignment-detail .card .card-action form .row .form-group .box-profile .imgProfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .dashboard .card-assignment-detail .card .card-action form .row .form-group .box-profile .lblImgProfile {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    background-color: rgba(57, 57, 57, 0.01);
  }
  .dashboard .card-assignment-detail .card .card-action form .row .form-group label {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .dashboard .card-assignment-detail .card .card-action form .row .form-group input {
    height: 40px;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    padding-left: 20px;
    padding-right: 20px;
  }
  .dashboard .card-assignment-detail .card .card-action form .row .form-group select {
    height: 44px;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .dashboard .card-assignment-detail .card .card-action form .row .form-group textarea {
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
  }
  .dashboard .card-assignment-detail .card .card-action form .row .form-group input:focus {
    border: 1px solid #ff7a57;
  }
  .dashboard .card-assignment-detail .card .card-action form .row .form-group select:focus {
    border: 1px solid #ff7a57;
  }
  .dashboard .card-assignment-detail .card .card-action form .row .form-group textarea:focus {
    border: 1px solid #ff7a57;
  }
  .dashboard .card-assignment-detail .card .card-action form button {
    height: 45px;
    width: 200px;
    border-radius: 30px;
    border: 2px solid #ff7a57;
    background-color: #ff7a57;
    color: white;
  }
  .dashboard .card-assignment-detail .table-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 80px;
  }
  .dashboard .card-assignment-detail .table-section .content {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dashboard .card-assignment-detail .table-section .content .table-build {
    width: 100%;
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -webkit-box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
            box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: auto;
  }
  .dashboard .card-assignment-detail .table-section .content .table-build .table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 5%;
    padding-right: 5%;
  }
  .dashboard .card-assignment-detail .table-section .content .table-build .table .table-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    margin-bottom: 30px;
  }
  .dashboard .card-assignment-detail .table-section .content .table-build .table .table-head .th {
    width: 200px;
    font-weight: 500;
    margin-right: 5px;
  }
  .dashboard .card-assignment-detail .table-section .content .table-build .table .table-head .th.small {
    width: 100px;
  }
  .dashboard .card-assignment-detail .table-section .content .table-build .table .table-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dashboard .card-assignment-detail .table-section .content .table-build .table .table-body .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 40px;
    border-top: 1px solid rgba(57, 57, 57, 0.2);
  }
  .dashboard .card-assignment-detail .table-section .content .table-build .table .table-body .row .td {
    width: 200px;
    font-weight: 500;
    font-weight: 400;
    margin-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dashboard .card-assignment-detail .table-section .content .table-build .table .table-body .row .td.small {
    width: 100px;
  }
  .dashboard .card-assignment-detail .table-section .content .table-build .table .table-body .row .badge {
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-left: 2px;
    margin-right: 2px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .dashboard .card-assignment-detail .table-section .content .table-build .table .table-body .row .badge-danger {
    background-color: salmon;
  }
  .dashboard .card-assignment-detail .table-section .content .table-build .table .table-body .row .badge-warning {
    background-color: orange;
  }
  .dashboard .card-assignment-detail .table-section .content .table-build .table .table-body .row .badge-primary {
    background-color: #ff7a57;
  }
  .dashboard .card-assignment-detail.active {
    width: 70%;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  .dashboard .card-group.nano {
    width: 30%;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  .dashboard .card-group {
    -webkit-transition: 500ms;
    transition: 500ms;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dashboard .card-group .shadow {
    margin: 0px 30px 40px 30px;
    -webkit-box-shadow: 20px -20px 40px white;
            box-shadow: 20px -20px 40px white;
    width: 265px;
    border-radius: 20px;
    height: 125px;
  }
  .dashboard .card-group .shadow .card {
    -webkit-box-shadow: -20px 20px 40px rgba(57, 57, 57, 0.12);
            box-shadow: -20px 20px 40px rgba(57, 57, 57, 0.12);
    background-color: #ECF0F3;
    width: 250px;
    min-height: 110px;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
  }
  .dashboard .card-group .shadow .card .card-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
  }
  .dashboard .card-group .shadow .card .card-head .circle {
    border-radius: 30px;
    height: 30px;
    width: 30px;
    background-color: rgba(255, 122, 87, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ff7a57;
  }
  .dashboard .card-group .shadow .card .card-head .icon {
    color: #ff7a57;
    font-size: 20px;
    width: 45px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer;
  }
  .dashboard .card-group .shadow .card .card-head .icon svg {
    position: absolute;
    left: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
    color: #ff7a57;
  }
  .dashboard .card-group .shadow .card .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .dashboard .card-group .shadow .card .card-body h4 {
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 24px;
  }
  .dashboard .card-group .shadow .card .card-body h5 {
    color: #393939;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }
  .dashboard .card-group .shadow .card .card-body h5 span {
    font-weight: 400;
  }
  .dashboard .card-group .shadow .card .card-body .right h4 {
    font-size: 20px;
    color: #393939;
  }
  .dashboard .card-group .shadow .card:hover .card-head .icon svg {
    left: 15px;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .profile {
    width: 95%;
    height: 100%;
    width: 100%;
  }
  .profile .form-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 80px;
  }
  .profile .form-section .content {
    width: 90%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 500px;
  }
  .profile .form-section .content .form-box {
    position: relative;
    z-index: 1;
    top: 80px;
    width: 90%;
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    border-radius: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .profile .form-section .content .form-box h2 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 0px;
    text-align: center;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .profile .form-section .content .form-box p {
    width: 650px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .profile .form-section .content .form-box .form-biodata {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile .form-section .content .form-box .form-biodata .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .profile .form-section .content .form-box .form-biodata .row .col-6 {
    width: 49%;
  }
  .profile .form-section .content .form-box .form-biodata .row .col-12 {
    width: 100%;
  }
  .profile .form-section .content .form-box .form-biodata .row .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile .form-section .content .form-box .form-biodata .row .form-group .box-profile .imgProfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .profile .form-section .content .form-box .form-biodata .row .form-group .box-profile .lblImgProfile {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    background-color: rgba(57, 57, 57, 0.01);
  }
  .profile .form-section .content .form-box .form-biodata .row .form-group label {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .profile .form-section .content .form-box .form-biodata .row .form-group input {
    height: 40px;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    padding-left: 20px;
    padding-right: 20px;
  }
  .profile .form-section .content .form-box .form-biodata .row .form-group select {
    height: 44px;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .profile .form-section .content .form-box .form-biodata .row .form-group textarea {
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    font-family: "Poppins";
    padding: 10px 20px 10px 20px;
  }
  .profile .form-section .content .form-box .form-biodata .row .form-group input:focus {
    border: 1px solid #ff7a57;
  }
  .profile .form-section .content .form-box .form-biodata .row .form-group select:focus {
    border: 1px solid #ff7a57;
  }
  .profile .form-section .content .form-box .form-biodata .row .form-group textarea:focus {
    border: 1px solid #ff7a57;
  }
  .profile .form-section .content .form-box .form-biodata button {
    margin-top: 20px;
    height: 45px;
    width: 200px;
    border-radius: 30px;
    border: 2px solid #ff7a57;
    background-color: #ff7a57;
    color: white;
  }
  #mobile {
    display: none;
  }
}
/*# sourceMappingURL=desktop-style.css.map */