@media only screen and (max-width: 567px) {

    @font-face {
        font-family: "Poppins";
        src: url('../fonts/poppins/Poppins-Regular.ttf');
        font-weight: 400;
    }

    @font-face {
        font-family: "Poppins";
        src: url('../fonts/poppins/Poppins-Medium.ttf');
        font-weight: 500;
    }

    @font-face {
        font-family: "Poppins";
        src: url('../fonts/poppins/Poppins-SemiBold.ttf');
        font-weight: 600;
    }

    @font-face {
        font-family: "Poppins";
        src: url('../fonts/poppins/Poppins-Bold.ttf');
        font-weight: 700;
    }

    @font-face {
        font-family: "Poppins";
        src: url('../fonts/poppins/Poppins-Italic.ttf');
        font-style: italic;
    }

    $fontPrimary : "Poppins";

    $colorYellow : #FDBF1F;
    $colorOrange : #ff7a57;
    $colorBlueLight : #CDEEF6;
    $colorPink : #F17EAB;
    $colorRed : #F02424;
    $colorGray : #C4C4C4;
    $colorLight : #ECF0F3;
    $colorDark : #393939;
    $colorBlack : #000D1E;

    input,
    textarea,
    select:focus {
        outline: none;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: transparent;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }

    .bg-loading {
        width: 100%;
        min-height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.75);
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 999;

        img {
            background-color: none;
            width: 200px;
            height: 200px;
        }
    }

    .bg-loading.active {
        display: flex;
    }

    .App.hidden {
        display: none;
    }

    .App {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        min-height: 100vh;
        font-family: $fontPrimary;

        .sidebar {
            transition: 600ms;
            left: -300px;
            position: fixed;
            width: 300px;
            height: 100vh;
            overflow: hidden;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 998;

            .logo {
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
                z-index: 2;

                img {
                    height: 80px;
                }
            }

            .menu {
                width: 80%;
                margin-bottom: 50px;

                ul {
                    width: 100%;

                    li {
                        transition: 300ms;
                        height: 50px;
                        width: 100%;
                        border-radius: 10px;
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: white;

                        A {
                            width: 100%;
                            height: 100%;
                            font-family: $fontPrimary;
                            color: $colorBlack;
                            text-decoration: none;
                            display: flex;
                            align-items: center;

                            .icon {
                                width: 25%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: $colorOrange;
                                font-size: 20px;
                            }

                        }
                    }

                    li:hover {
                        transition: 300ms;
                        background-color: $colorOrange;

                        A {
                            color: white;

                            .icon {
                                color: white;
                            }
                        }
                    }

                    li.active {
                        background-color: $colorOrange;

                        A {
                            color: white;

                            .icon {
                                color: white;
                            }
                        }
                    }
                }
            }

            .menuHidden {
                height: 100px;
                width: 100%;
                display: flex;
                justify-content: center;

                .circle {
                    width: 60px;
                    height: 60px;
                    background-color: $colorLight;
                    color: $colorDark;
                    font-size: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                }
            }
        }

        .sidebar.active {
            left: 0px;
            width: 300px;
            transition: 300ms;
        }

        .body {
            width: 100%;
            background-color: white;

            .navbar {
                position: fixed;
                z-index: 999;
                height: 80px;
                width: 100%;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .menu {
                    width: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                }

                h1 {
                    font-weight: 500;
                    font-size: 18px;
                    color: $colorBlack;

                    span {
                        color: $colorGray;
                    }
                }

                .icon {
                    width: 80px;
                    height: 100%;
                    display: flex;
                    justify-content: center;

                    .icon-bell {
                        width: 30px;
                        height: 100%;
                        font-size: 20px;
                        color: $colorBlack;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .circle {
                            background-color: $colorOrange;
                            height: 18px;
                            width: 18px;
                            border-radius: 15px;
                            font-size: 12px;
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            top: 20px;
                            right: 0px;
                        }
                    }
                }

                .notifikasi {
                    transition: 300ms;
                    width: 250px;
                    height: 0px;
                    overflow: hidden;
                    position: absolute;
                    top: 70px;
                    right: 10px;

                    .triangle {
                        height: 20px;
                        width: 100%;
                        background-color: white;
                        clip-path: polygon(220px 0, 235px 20px, 205px 20px);
                    }

                    .body-box {
                        min-height: 180px;
                        width: 250px;
                        background-color: white;
                        border-radius: 15px;
                        box-shadow: 8px 3px 8px rgba($color: $colorDark, $alpha: 0.08);

                        .notifikasi-head {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            height: 60px;
                            margin-bottom: 0px;

                            h4 {
                                font-weight: 500;
                            }

                            hr {
                                width: 50px;
                                height: 1px;
                                border: none;
                                background-color: $colorOrange;
                            }
                        }

                        .notifikasi-body {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            position: relative;
                            height: 120px;

                            .item {
                                width: 90%;
                                display: flex;
                                justify-content: space-between;

                                .item-left {
                                    width: 20%;

                                    .box {
                                        width: 35px;
                                        height: 35px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        border-radius: 10px;
                                        background-color: $colorOrange;
                                        color: white;
                                    }
                                }

                                .item-right {
                                    width: 80%;

                                    h5 {
                                        font-size: 14px;
                                        font-weight: 400;
                                        margin-bottom: 5px;
                                        line-height: 24px;
                                    }

                                    h4 {
                                        font-weight: 500;
                                        color: $colorOrange;
                                    }
                                }
                            }

                            .notifikasi-close {
                                height: 45px;
                                width: 100%;
                                position: absolute;
                                bottom: 0;
                                display: flex;
                                flex-direction: column;

                                hr {
                                    width: 90%;
                                    height: 1px;
                                    border: none;
                                    background-color: $colorLight;
                                }

                                .text {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    h4 {
                                        font-size: 14px;
                                        margin-left: 5px;
                                    }

                                    path {
                                        color: $colorOrange;
                                    }
                                }
                            }
                        }
                    }
                }

                .notifikasi.active {
                    transition: 300ms;
                    height: 220px;
                }

            }

            .body-content {
                margin-top: 80px;
                background-color: $colorLight;
                border-radius: 0px 0px 0px 0px;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    .login-page {
        font-family: $fontPrimary;

        .login {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 100vh;

            .login-left {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;

                .content {
                    width: 90%;

                    h3 {
                        margin-top: 40px;
                        color: $colorOrange;
                        font-size: 18px;
                        line-height: 28px;
                        font-weight: 500;
                        margin-bottom: 50px;
                    }

                    h1 {
                        font-weight: 600;
                        font-size: 36px;
                        line-height: 50px;
                        margin-bottom: 5px;
                    }

                    p {
                        line-height: 24px;
                        font-size: 14px;
                        color: $colorGray;
                        margin-bottom: 30px;
                    }

                    .btn-google {
                        width: 100%;
                        height: 50px;
                        color: $colorDark;
                        background-color: white;
                        border: 1px solid $colorLight;
                        border-radius: 10px;
                        font-size: 14px;
                        font-weight: 600;
                        margin-bottom: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        img {
                            width: 30px;
                            margin-right: 10px;
                        }
                    }

                    .btn-google:hover {
                        transition: 300ms;
                        border: 1px solid $colorOrange;
                    }

                    .choice-login {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;

                        hr {
                            width: 30%;
                            height: 1px;
                            background-color: $colorLight;
                            border: none;
                        }

                        h6 {
                            font-size: 14px;
                            color: $colorGray;
                            font-weight: 400;
                        }
                    }

                    form {

                        .form-group {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 20px;
                            position: relative;

                            label {
                                font-size: 14px;
                                font-weight: 500;
                                color: $colorDark;
                                margin-bottom: 15px;
                            }

                            i {
                                position: absolute;
                                bottom: 15px;
                                left: 20px;
                                color: rgba($color: $colorGray, $alpha: 0.5);
                            }

                            input,
                            select {
                                width: 100%;
                                height: 50px;
                                border-radius: 10px;
                                border: 1px solid $colorLight;
                                padding-left: 50px;
                                box-sizing: border-box;
                                color: $colorDark;
                                font-weight: 400;
                                font-size: 14px;
                                background-color: white;
                            }

                            input:focus {
                                border: 1px solid $colorOrange;
                            }
                        }

                        .btn-login {
                            width: 100%;
                            height: 50px;
                            color: white;
                            background-color: $colorOrange;
                            border: 1px solid $colorOrange;
                            border-radius: 10px;
                            font-size: 14px;
                            font-weight: 600;
                            margin-bottom: 20px;
                            cursor: pointer;
                        }

                        .btn-login:hover {
                            transition: 300ms;
                            box-shadow: 0px 15px 45px rgba($color: $colorOrange, $alpha: 0.32);
                        }

                        h6 {
                            font-size: 14px;
                            color: $colorGray;
                            line-height: 24px;
                            margin-bottom: 50px;

                            a {
                                color: $colorOrange;
                            }
                        }
                    }
                }
            }

            .login-right {
                right: 0;
                width: 100%;
                min-height: 400px;
                background-color: $colorOrange;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 75%;
                }

                h2 {
                    font-size: 20px;
                    color: white;
                    font-weight: 500;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 14px;
                    width: 80%;
                    text-align: center;
                    line-height: 24px;
                    color: white;
                }
            }
        }
    }

    .dashboard {
        width: 100%;

        h2 {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 30px;
            margin-top: 30px;
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }

        .modal.active {
            display: flex;
        }

        .modal {
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 999;
            background-color: rgba($color: $colorDark, $alpha: 0.3);
            display: none;
            justify-content: center;
            align-items: center;

            .form {
                background-color: white;
                width: 95%;
                min-height: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 30px;
                overflow: auto;
                padding-bottom: 60px;

                input,
                textarea,
                select {
                    outline: none;
                }

                h2 {
                    font-size: 24px;
                    font-weight: 500;
                    margin-top: 50px;
                    text-align: center;
                    line-height: 28px;
                    margin-bottom: 12px;
                }

                p {
                    width: 450px;
                    text-align: center;
                    line-height: 24px;
                    margin-bottom: 30px;
                    font-size: 14px;

                    span {
                        color: $colorOrange;
                    }
                }


                .form-biodata {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .row {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;

                        .col-6 {
                            width: 49%;
                        }

                        .col-12 {
                            width: 100%;
                        }

                        .form-group {
                            display: flex;
                            flex-direction: column;

                            .box-profile {

                                .imgProfile {
                                    width: 0.1px;
                                    height: 0.1px;
                                    opacity: 0;
                                    overflow: hidden;
                                    position: absolute;
                                    z-index: -1;
                                }

                                .lblImgProfile {
                                    width: 100%;
                                    height: 100px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border: 1px solid $colorGray;
                                    border-radius: 20px;
                                    background-color: rgba($color: $colorDark, $alpha: 0.01);
                                }
                            }

                            label {
                                margin-bottom: 10px;
                                font-size: 14px;
                            }

                            input {
                                height: 40px;
                                border-radius: 20px;
                                border: 1px solid $colorGray;
                                padding-left: 20px;
                                padding-right: 20px;
                            }

                            select {
                                height: 44px;
                                border: 1px solid $colorGray;
                                border-radius: 20px;
                                padding-left: 20px;
                                padding-right: 20px;
                            }

                            textarea {
                                border: 1px solid $colorGray;
                                border-radius: 20px;
                                padding: 10px 20px 10px 20px;
                                font-family: $fontPrimary;
                            }

                            input:focus {
                                border: 1px solid $colorOrange;
                            }

                            select:focus {
                                border: 1px solid $colorOrange;
                            }

                            textarea:focus {
                                border: 1px solid $colorOrange;
                            }

                        }
                    }

                    .btn {
                        display: flex;
                        justify-content: center;
                    }

                    button {
                        margin-left: 5px;
                        margin-right: 5px;
                        margin-top: 10px;
                        height: 45px;
                        width: 150px;
                        border-radius: 30px;
                        color: white;
                        cursor: pointer;
                        font-weight: 500;
                    }

                    .btn-submit {
                        border: 2px solid $colorOrange;
                        background-color: $colorOrange;
                    }

                    .btn-cancel {
                        border: 2px solid $colorLight;
                        background-color: $colorLight;
                        color: $colorDark;
                    }

                }
            }
        }

        .filter {
            margin-bottom: 0px;
        }

        .action {
            width: 95%;
            margin: 0px auto;

            form {
                display: flex;
                justify-content: space-between;

                .row {
                    width: 68%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    // margin-right: 20px;

                    .col-6 {
                        width: 49%;
                    }

                    .col-12 {
                        width: 100%;
                    }

                    .form-group {
                        display: flex;
                        flex-direction: column;

                        label {
                            margin-bottom: 10px;
                            font-size: 14px;
                        }

                        input {
                            height: 40px;
                            border-radius: 20px;
                            border: 1px solid $colorGray;
                            padding-left: 20px;
                            padding-right: 20px;
                        }

                        select {
                            height: 44px;
                            border: 1px solid $colorGray;
                            border-radius: 20px;
                            padding-left: 20px;
                            padding-right: 20px;
                        }

                        textarea {
                            border: 1px solid $colorGray;
                            border-radius: 20px;
                            font-family: $fontPrimary;
                            padding: 10px 20px 10px 20px;
                        }

                        input:focus {
                            border: 1px solid $colorOrange;
                        }

                        select:focus {
                            border: 1px solid $colorOrange;
                        }

                        textarea:focus {
                            border: 1px solid $colorOrange;
                        }

                    }
                }

                button {
                    height: 45px;
                    width: 30%;
                    border-radius: 30px;
                    border: 2px solid $colorOrange;
                    background-color: $colorOrange;
                    color: white;
                }
            }
        }

        .bg-model {
            width: 100%;
            min-height: 100vh;
            z-index: 999;
            left: 0;
            top: 0;
            padding-top: 20px;
            padding-bottom: 30px;

            .box-model {
                display: flex;
                justify-content: center;

                .form-section {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding-bottom: 80px;

                    .content {
                        width: 100%;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        min-height: 500px;
                        // align-items: center;

                        .form-box {
                            position: relative;
                            z-index: 1;
                            // top: 80px;
                            width: 95%;
                            min-height: 500px;
                            display: flex;
                            flex-direction: column;
                            background-color: white;
                            // box-shadow: 0px 30px 60px rgba($color: $colorDark, $alpha: 0.1);
                            border-radius: 20px;
                            align-items: center;
                            padding-top: 40px;
                            padding-bottom: 40px;

                            h2 {
                                font-size: 24px;
                                font-weight: 500;
                                margin-top: 0px;
                                text-align: center;
                                line-height: 28px;
                                margin-bottom: 15px;
                            }

                            p {
                                width: 90%;
                                text-align: center;
                                line-height: 24px;
                                margin-bottom: 30px;
                            }

                            .form-biodata {
                                width: 80%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                .row {
                                    width: 100%;
                                    display: flex;
                                    flex-wrap: wrap;
                                    // justify-content: space-between;

                                    .col-6 {
                                        width: 100%;
                                        margin-bottom: 20px;
                                    }

                                    .col-12 {
                                        width: 100%;
                                        margin-bottom: 20px;
                                    }

                                    .form-group {
                                        display: flex;
                                        flex-direction: column;

                                        .box-profile {

                                            .imgProfile {
                                                width: 0.1px;
                                                height: 0.1px;
                                                opacity: 0;
                                                overflow: hidden;
                                                position: absolute;
                                                z-index: -1;
                                            }

                                            .lblImgProfile {
                                                width: 100%;
                                                height: 100px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                border: 1px solid $colorGray;
                                                border-radius: 20px;
                                                background-color: rgba($color: $colorDark, $alpha: 0.01);
                                            }
                                        }

                                        label {
                                            margin-bottom: 10px;
                                            font-size: 14px;
                                        }

                                        input {
                                            height: 40px;
                                            border-radius: 20px;
                                            border: 1px solid $colorGray;
                                            padding-left: 20px;
                                            padding-right: 20px;
                                            background-color: white;
                                        }

                                        select {
                                            height: 44px;
                                            border: 1px solid $colorGray;
                                            border-radius: 20px;
                                            padding-left: 20px;
                                            padding-right: 20px;
                                            background-color: white;
                                        }

                                        textarea {
                                            border: 1px solid $colorGray;
                                            border-radius: 20px;
                                            padding: 10px 20px 10px 20px;
                                            font-family: $fontPrimary;

                                        }

                                        input:focus {
                                            border: 1px solid $colorOrange;
                                        }

                                        select:focus {
                                            border: 1px solid $colorOrange;
                                        }

                                        textarea:focus {
                                            border: 1px solid $colorOrange;
                                        }

                                    }
                                }

                                button {
                                    margin-top: 20px;
                                    height: 45px;
                                    width: 200px;
                                    border-radius: 30px;
                                    border: 2px solid $colorOrange;
                                    background-color: $colorOrange;
                                    color: white;
                                }

                            }
                        }

                    }
                }
            }
        }

        .circle-book {
            position: fixed;
            z-index: 997;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            background-color: white;
            color: $colorOrange;
            display: none;
            justify-content: center;
            align-items: center;
            bottom: 30px;
            right: 30px;
            box-shadow: 0px 20px 60px rgba($color: $colorDark, $alpha: 0.16);
            font-size: 20px;
        }

        .circle-book.active {
            display: flex;
        }

        .card-assignment {
            display: flex;
        }

        .card-assignment-detail {
            width: 0px;
            overflow: hidden;
            transition: 300ms;
            padding-top: 20px;

            .card {
                width: 100%;
                height: auto;
                background-color: white;
                border-radius: 20px;
                padding: 15px 15px 20px 15px;
                box-sizing: border-box;
                margin-bottom: 20px;

                .card-head {
                    display: flex;
                    margin-bottom: 20px;

                    .img {
                        width: 15%;
                        display: flex;

                        .circle {
                            width: 40px;
                            height: 40px;
                            overflow: hidden;
                            border-radius: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                height: 40px;
                            }
                        }
                    }

                    .title {
                        width: 80%;

                        h2 {
                            margin-left: 0;
                            margin-top: 0;
                            margin-bottom: 10px;
                            line-height: 24px;
                            font-size: 16px;
                        }

                        .information {
                            display: flex;
                            align-items: center;

                            h5 {
                                font-size: 14px;
                                margin-right: 20px;
                            }

                            h6 {
                                font-size: 12px;
                                color: $colorDark;
                                opacity: 0.9;
                                margin-right: 20px;
                            }

                            span {
                                padding: 3px 5px 3px 5px;
                                display: flex;
                                background-color: $colorOrange;
                                border-radius: 5px;
                                font-size: 12px;
                                color: white;
                            }
                        }
                    }

                    .skor {
                        width: 5%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        h4 {
                            text-align: center;
                        }
                    }
                }

                .card-body {
                    margin-bottom: 30px;

                    p {
                        line-height: 28px;
                        font-size: 16px;
                    }
                }

                .card-action {

                    form {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;

                        .row {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 20px;

                            .col-6 {
                                width: 49%;
                            }

                            .col-12 {
                                width: 100%;
                            }

                            .form-group {
                                display: flex;
                                flex-direction: column;

                                .box-profile {

                                    .imgProfile {
                                        width: 0.1px;
                                        height: 0.1px;
                                        opacity: 0;
                                        overflow: hidden;
                                        position: absolute;
                                        z-index: -1;
                                    }

                                    .lblImgProfile {
                                        width: 100%;
                                        height: 100px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        border: 1px solid $colorGray;
                                        border-radius: 20px;
                                        background-color: rgba($color: $colorDark, $alpha: 0.01);
                                    }
                                }

                                label {
                                    margin-bottom: 10px;
                                    font-size: 14px;
                                }

                                input {
                                    height: 40px;
                                    border-radius: 20px;
                                    border: 1px solid $colorGray;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                }

                                select {
                                    height: 44px;
                                    border: 1px solid $colorGray;
                                    border-radius: 20px;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                }

                                textarea {
                                    border: 1px solid $colorGray;
                                    border-radius: 20px;
                                    padding: 10px 20px 10px 20px;
                                }

                                input:focus {
                                    border: 1px solid $colorOrange;
                                }

                                select:focus {
                                    border: 1px solid $colorOrange;
                                }

                                textarea:focus {
                                    border: 1px solid $colorOrange;
                                }

                            }
                        }

                        button {
                            height: 45px;
                            width: 200px;
                            border-radius: 30px;
                            border: 2px solid $colorOrange;
                            background-color: $colorOrange;
                            color: white;
                        }

                    }

                }
            }

            .table-section {
                width: 100%;
                display: flex;
                justify-content: center;
                padding-bottom: 80px;

                .content {
                    width: 100%;
                    position: relative;
                    display: flex;
                    justify-content: center;

                    .table-build {
                        width: 100%;
                        min-height: 100px;
                        display: flex;
                        background-color: white;
                        box-shadow: 0px 30px 60px rgba($color: $colorDark, $alpha: 0.1);
                        border-radius: 20px;
                        padding-top: 40px;
                        padding-bottom: 40px;
                        overflow: auto;

                        .table {
                            display: flex;
                            flex-direction: column;
                            margin-left: 5%;
                            padding-right: 5%;

                            .table-head {
                                display: flex;
                                font-size: 14px;
                                margin-bottom: 30px;

                                .th {
                                    width: 200px;
                                    font-weight: 500;
                                    margin-right: 5px;
                                }

                                .th.small {
                                    width: 100px;
                                }
                            }

                            .table-body {
                                display: flex;
                                flex-direction: column;

                                .row {
                                    display: flex;
                                    align-items: center;
                                    min-height: 40px;
                                    border-top: 1px solid rgba($color: $colorDark, $alpha: 0.2);

                                    .td {
                                        width: 200px;
                                        font-weight: 500;
                                        font-weight: 400;
                                        margin-right: 5px;
                                        display: flex;
                                    }

                                    .td.small {
                                        width: 100px;
                                    }

                                    .badge {
                                        padding: 0px 10px 0px 10px;
                                        border-radius: 5px;
                                        text-decoration: none;
                                        color: white;
                                        font-size: 14px;
                                        margin-left: 2px;
                                        margin-right: 2px;
                                        height: 30px;
                                        display: flex;
                                        align-items: center;
                                        cursor: pointer;
                                    }

                                    .badge-danger {
                                        background-color: salmon;
                                    }

                                    .badge-warning {
                                        background-color: orange;
                                    }

                                    .badge-primary {
                                        background-color: $colorOrange;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .card-assignment-detail.active {
            width: 95%;
            transition: 300ms;
            margin: 0 auto;
        }

        .card-group.nano {
            width: 0%;
            transition: 300ms;
        }

        .card-group {
            overflow: hidden;
            transition: 500ms;
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 80px;

            .shadow:first-child {
                box-shadow: 10px -10px 20px rgba($color: white, $alpha: 0.4);
            }

            .shadow {
                margin: 20px 0 0px 0;
                box-shadow: 20px -20px 40px white;
                width: 95%;
                border-radius: 20px;

                .card {
                    box-shadow: -20px 20px 40px rgba($color: $colorDark, $alpha: 0.12);
                    background-color: $colorLight;
                    width: 100%;
                    min-height: 140px;
                    border-radius: 20px;
                    padding: 15px 15px 15px 15px;
                    box-sizing: border-box;

                    .card-head {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 30px;

                        .circle {
                            border-radius: 30px;
                            height: 30px;
                            width: 30px;
                            background-color: rgba($color: $colorOrange, $alpha: 0.1);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $colorOrange;
                        }

                        .icon {
                            color: $colorOrange;
                            font-size: 20px;
                            width: 45px;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            cursor: pointer;

                            svg {
                                color: $colorOrange;
                                position: absolute;
                                left: 0;
                                transition: 300ms;
                            }
                        }
                    }

                    .card-body {
                        display: flex;
                        justify-content: space-between;

                        h4 {
                            line-height: 24px;
                            font-weight: 500;
                            margin-bottom: 10px;
                        }

                        h5 {
                            color: $colorDark;
                            font-size: 14px;
                            line-height: 24px;
                        }

                        .right {
                            h4 {
                                font-size: 24px;
                                color: $colorDark;
                            }
                        }
                    }
                }

                .card:hover {
                    .card-head {

                        .icon {

                            svg {
                                left: 15px;
                                transition: 300ms;
                            }
                        }
                    }
                }
            }
        }
    }

    .profile {
        min-height: 100vh;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 30px;

        .form-section {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;

            .content {
                height: 100%;
                width: 100%;
                height: auto;
                position: relative;
                display: flex;
                justify-content: center;

                .form-box {
                    position: relative;
                    z-index: 1;
                    width: 95%;
                    min-height: 500px;
                    display: flex;
                    flex-direction: column;
                    border-radius: 20px;
                    align-items: center;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    background-color: white;

                    h2 {
                        font-size: 24px;
                        font-weight: 500;
                        margin-top: 0px;
                        text-align: center;
                        line-height: 28px;
                        margin-bottom: 15px;
                    }

                    p {
                        width: 90%;
                        text-align: center;
                        line-height: 24px;
                        margin-bottom: 30px;
                    }

                    .form-biodata {
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .row {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;

                            .col-6 {
                                width: 100%;
                                margin-bottom: 20px;
                            }

                            .col-12 {
                                width: 100%;
                                margin-bottom: 20px;
                            }

                            .form-group {
                                display: flex;
                                flex-direction: column;

                                .box-profile {

                                    .imgProfile {
                                        width: 0.1px;
                                        height: 0.1px;
                                        opacity: 0;
                                        overflow: hidden;
                                        position: absolute;
                                        z-index: -1;
                                    }

                                    .lblImgProfile {
                                        width: 100%;
                                        height: 100px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        border: 1px solid $colorGray;
                                        border-radius: 20px;
                                        background-color: rgba($color: $colorDark, $alpha: 0.01);
                                    }
                                }

                                label {
                                    margin-bottom: 10px;
                                    font-size: 14px;
                                }

                                input {
                                    height: 40px;
                                    border-radius: 20px;
                                    border: 1px solid $colorGray;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                    background-color: white;
                                }

                                select {
                                    height: 44px;
                                    border: 1px solid $colorGray;
                                    border-radius: 20px;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                    background-color: white;
                                }

                                textarea {
                                    border: 1px solid $colorGray;
                                    border-radius: 20px;
                                    font-family: $fontPrimary;
                                    padding: 10px 20px 10px 20px;
                                }

                                input:focus {
                                    border: 1px solid $colorOrange;
                                }

                                select:focus {
                                    border: 1px solid $colorOrange;
                                }

                                textarea:focus {
                                    border: 1px solid $colorOrange;
                                }

                            }
                        }

                        button {
                            margin-top: 20px;
                            height: 45px;
                            width: 200px;
                            border-radius: 30px;
                            border: 2px solid $colorOrange;
                            background-color: $colorOrange;
                            color: white;
                        }

                    }
                }

            }
        }

    }

    #desktop {
        display: none;
    }

}